<h1><%= @event.title %></h1>
<h5>Descripción:</h5>
<p class="lead">
    <%= @event.description %>
</p>

<%= link_to 'Todos los eventos', events_path, class: "btn btn-default" %>
<%= link_to "Eliminar", @event,
    method: :delete,
    data: {confirm: 'Estas seguro?'},
    class: "btn btn-danger" %>
